<div class="content-space">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
        <div class="carousel-item active">
                <a href="https://in.bookmyshow.com/explore/movies">
                    <img src="assets/images/movie-carousal4.avif" alt="India" width="1100" height="500">
                </a>
        </div>
        <div class="carousel-item">
            <a href="https://in.bookmyshow.com/explore/movies">
                <img src="assets/images/movie-carousal3.avif" alt="India" width="1100" height="500">
            </a>
        </div>
        <div class="carousel-item">
            <a href="https://in.bookmyshow.com/explore/movies">
                <img src="assets/images/movie-carousal2.avif" alt="India" width="1100" height="500">
            </a>
        </div>
        <div class="carousel-item">
            <a href="https://in.bookmyshow.com/explore/movies">
                <img src="assets/images/movie-carousal1.avif" alt="India" width="1100" height="500">
            </a>
        </div>
        <div class="carousel-item">
            <a href="https://in.bookmyshow.com/explore/movies">
                <img src="assets/images/movie-carousal.avif" alt="India" width="1100" height="500">
            </a>
        </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <div class="container">
        <div class="row filter-content">
            <div class="col-4">
                <div>
                    <h4>Filters</h4>
                    <div class="container" class="language-pointer">
                        <p class="language-pointer" data-toggle="collapse" data-target="#language">Language<p>
                        <div id="language" class="collapse">
                            <button class="btn btn-light">Engish</button>
                            <button class="btn btn-light">Hindi</button>
                            <button class="btn btn-light">Telugu</button>
                            <button class="btn btn-light">Tamil</button>
                            <button class="btn btn-light">Malayalam</button>
                            <button class="btn btn-light">Bengali</button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="container" class="language-pointer">
                        <p class="language-pointer" data-toggle="collapse" data-target="#genres">Genres<p>
                        <div id="genres" class="collapse">
                            <button class="btn btn-light">Action</button>
                            <button class="btn btn-light">Drama</button>
                            <button class="btn btn-light">Thriller</button>
                            <button class="btn btn-light">Adventure</button>
                            <button class="btn btn-light">Comedy</button>
                            <button class="btn btn-light">Family</button>
                            <button class="btn btn-light">Period</button>
                            <button class="btn btn-light">Animation</button>
                            <button class="btn btn-light">Historical</button>
                            <button class="btn btn-light">Romantic</button>
                            <button class="btn btn-light">Sci-Fi</button>
                            <button class="btn btn-light">Biography</button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="container" class="language-pointer">
                        <p class="language-pointer" data-toggle="collapse" data-target="#format">Format<p>
                        <div id="format" class="collapse">
                            <button class="btn btn-light">2D</button>
                            <button class="btn btn-light">3D</button>
                            <button class="btn btn-light">4DX 3D</button>
                            <button class="btn btn-light">4DX</button>
                            <button class="btn btn-light">MX4D 3D</button>
                            <button class="btn btn-light">3D ScreenX</button>
                            <button class="btn btn-light">IMAX 3D</button>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-default btn-block">
                        Browse by cinema!
                    </button>
                </div>
            </div>
            <div class="col-8">
                <h4>Movies in {{location}}</h4>
            </div>
        </div>
    </div>
</div>