.carousel-inner{
    width: 100%;
    height: 100%;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
body{
    background-color: rgb(182, 180, 180);
}
.container{
    margin-top: 2em;
}
.col-4{
    margin-right: 2em;
}
.content-space{
    background-color: rgb(229, 225, 225);
}
div.language-pointer{
    border-radius: 10px;
    background-color: white;
}
p.language-pointer{
    
    color: red;
    padding: 0.5em;
    cursor: pointer;
}

#language{
    margin:1em;
}
#language button{
    margin:0.5em;
}
#genres{
    margin: 1em;
}
#genres button{
    margin: 0.5em;
}
#format{
    margin: 1em;
}
#format button{
    margin: 0.5em;
}
.btn-light{
    background-color: white!important;
    color: red!important;
    font-size: smaller!important;
}
.btn-block{
    color: red!important;
    border: 0.01em solid red;
}
.filter-content{
    flex-wrap: nowrap;
}
p{
    font-weight: 100;
}